<!-- TODO: Change to I18n-->
<h2 id="h2">Your WordyList !!</h2>
<%= form_with(model: @word, id: "word_creator", html: { autocomplete: "off" } ) do |f| %>
    <%= f.text_field :main_word, placeholder: true %>
    <%= f.submit 'Add Your Word', class: 'submit_button' %>
<% end %>

<div id="words">
    <table>
        <tr>
            <th>Palabra Principal</th>
            <th>Traducción</th>
            <th>Mi Ejemplo</th>
                <%= form_with url: wordylist_path, method: :get do |f| %>
                    <%= text_field_tag :search, params[:search] %>
                    <%= submit_tag("Buscar", name: nil)%>
                <% end %>
        </tr>
        <%= render @words %>
    </table>
</div>
